<div class="back_container">
  <div class="home_container">

    <div class="home_box">
      <p class="home_text logo_text">Las Montres</p>
      <p class="home_sub_text">Las Montresは腕時計専門のECサイトです。</p>
      <p class="home_link_text"><%= link_to '商品一覧へ', products_path %></p>
    </div>
  </div>
</div>