/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * コメントアウト
 * require_tree .
 * require_self
 */


/*bootstrapの設定*/
@import "bootstrap-sprockets";
@import "bootstrap";


/* レスポンシブの設定 */
$widthPC: 1024px; //PC
$widthTab: 768px; //タブレット
$widthSp: 568px; //スマートフォン

@mixin tab {
  @media (min-width: $widthTab) and (max-width: ($widthPC)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($widthTab)) {
    @content;
  }
}


/* 基本設定 */
body{
  background-color: #fff;
  color: #000;
  margin: 0px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

.clear{
  clear: both;
}


/* カルーセル関連 */
.carousel_width_show{
  width: 500px;
}
.carousel_width_index{
  width: 250px;
}


/* パンくず関連 */
.breadcrumbs_box{
  padding: 0 10px 0;
}


/* ヘッダー関連 */
.logo_text{
  font-family: 'Pangolin', cursive;
  font-size: 46px;
  color: #000;
}

.login_text{
  float: left;
  padding: 0 15px 0;
}

.search_box{
  float: right;
  padding: 0 5px 5px 0;
  input[type="text"] {
    width: 200px;
    border-radius: 5px;
    line-height: 25px;
    padding: 0 10px;
  }
}


/* エラー関連 */
#notice{
  color: tomato;
  text-align: center;
}


/* ホームページ関連 */
.back_container{
  background-image: url("/back.jpg");
  border-radius: 50%;
}

.home_container{
  background-color: antiquewhite;
  opacity: 0.85;
  border-radius: 50%;
}

.home_box{
  padding: 50px 0;
  width: 100%;
  .home_text, .home_sub_text, .home_link_text{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 25px 0;
    @include sp {width: 100%;};
  }
  .home_text{
    font-size: 86px;
    @include sp {font-size: 36px;};
  }
  .home_sub_text{
    font-size: 16px;
  }
}


/* 商品一覧ページ・マイページ関連 */
.products_box, .my_products_box{
  padding-bottom: 50px;
}

.products_name_box, .my_products_name_box{
  padding: 5px 5px 0;
}

.products_price_box, .my_products_price_box{
  padding: 0 5px 0;
}

.paginate_box{
  text-align: center;
}


/* 商品詳細ページ関連 */
.show_name_box{
  font-size: 24px;
  padding: 0 5px 10px;
}

.show_price_box, .show_quantity_box,
.show_description_box, .show_brand_box,
.add_to_cart_box{
  font-size: 16px;
}

.show_price_box{
  padding: 10px 5px 0;
}

.show_quantity_box, .show_brand_box{
  padding: 0 5px 0;
}

.show_description_box{
  padding: 0 5px 10px;
}

.show_link_box{
  padding: 0 5px 10px;
}

.add_to_cart_box{
  padding: 0 5px 10px;
  .add_to_cart_number{
    display: inline;
    input[type="number"] {
    width: 25%;
    border-radius: 5px;
    line-height: 30px;
    padding: 0 15px;
    }
  }
  .add_to_cart_btn{
    display: inline;
  }
}


/* カテゴリ一覧・詳細ページ関連 */
.categories_box{
  padding-bottom: 25px;
}

.categories_brand_name_box{
  font-size: 24px;
  font-family: 'Sumana', serif;
  padding: 0 5px 0;
}

.categories_brand_description_box{
  padding: 10px 10px 0;
}

.category_brand_name_box{
  font-family: 'Lora', serif;
}

.category_box{
  padding-bottom: 50px;
}

.category_products_name_box{
  padding: 5px 5px 0;
}

.category_products_price_box{
  padding: 0 5px 0;
}


/* 入力フォーム関連 */
.new_container, .edit_container{
  margin: 0 auto;
  width: 50%;
  @include sp {width: 100%;};
}

.form_box{
  div{
    padding-bottom: 20px;
  }
  input[type="text"],
  input[type="number"] {
    width: 100%;
    border-radius: 5px;
    line-height: 30px;
    padding: 0 15px;
  }
  textarea{
    width: 100%;
    height: 100px;
    border-radius: 5px;
    line-height: 30px;
    padding: 0 15px;
  }
  .btn_box{
    text-align: center;
  }
}

.user_form_container{
  margin: 0 auto;
  width: 50%;
  .field, .actions{
    padding-bottom: 20px;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    border-radius: 5px;
    line-height: 30px;
    padding: 0 15px;
  }
  .actions{
    text-align: center;
  }
}


/* カートページ関連 */
th{
  span{
    padding-left: 10px;
  }
}

td{
  input[type="number"] {
    // width: 50%;
    border-radius: 5px;
    line-height: 30px;
    padding: 0 15px;
  }
}

.view_order_subtotal_box, .view_order_tax_box{
  padding: 0 10px 10px;
  font-size: 16px;
}

.view_order_grandtotal_box{
  padding: 10px 10px 0;
  font-size: 18px;
  border-top: 1px solid silver;
}


